.tyler {
    color: white;
    font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
    text-shadow: 0px 0px 3px #f00, 0px 0px 3px #f00, 0px 0px 3px #f00, 0px 0px 3px #f00, 0px 0px 3px #f00;
}